<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv=Content-Type content="text/html;charset=utf-8">
        <meta name="robots" content="all,follow" />
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.meta.site_title }}</title>

		
<style type="text/css">
#content
{
position:relative;
width: 960px
}
<!--
body{
line-height:70%
}
-->
</style>
    </head>


    <body >
<center><p>
<br>
<br>
<br>
<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp 
<img src="http://bayes-stat.github.io/images/image001.png" /><img src="http://bayes-stat.github.io/images/image003.jpg">
<img src="http://bayes-stat.github.io/images/image004.gif" width="130" height="130">
</p></center>
<center> <p style="font-family:Microsoft YaHei ;color:blue; font-size:250%; line-height:80%">贝叶斯之道</p></center>
 <center><p style="font-family:verdana;font-size:140%;color:green;font-weight:bold;line-height:10%">
 The Tao of Bayesian: A Platform to Understanding with No Math</p></center>
 <p style="font-family:Microsoft YaHei; font-size:130%; font-weight:bold;color:blue;line-height:70%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 &nbsp 一个<font color="red">中</font><font color="#00FFFF">西</font>合璧 <font color="green">古</font><font color="#CE0000">今</font>	
 相融的贝叶斯学习平台</p>
 <div style="text-align:center;"><img src="http://bayes-stat.github.io/images/image006.gif" ></div>
 
 
<center><p style="font-family:Microsoft YaHei ;color:green; font-size:140%; "> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://bayes-stat.github.io/images/image007.png" ><a href="http://bayes-stat.github.io/idea" target="blank"
 style="font-family:Microsoft YaHei;color:green; font-size:140%; ">传贝叶斯之道</a>
 &nbsp;&nbsp;&nbsp;<img src="http://bayes-stat.github.io/images/image009.jpg" width = 7.5%  >&nbsp;
 <img src="http://bayes-stat.github.io/images/image010.jpg" ><a href="http://bayes-stat.github.io/skill" 
 style="font-family:Microsoft YaHei;color:green; font-size:140%; " target="blank">授贝叶斯之业</a> &nbsp; 
 <img src="http://bayes-stat.github.io/images/image011.jpg" > 
 <img src="http://bayes-stat.github.io/images/image012.jpg" >
<a href="http://bayes-stat.github.io/puzzle" target="blank" style="font-family:Microsoft YaHei;color:green; font-size:140%; "
>解贝叶斯之惑</a> </p></center>
{{ content }}  
 <div style="text-align:center;"><img src="http://bayes-stat.github.io/images/image006.gif" ></div>
 <center> <p style="font-family:Microsoft YaHei ;font-size:150%"><a href="http://bayes-stat.github.com/about" style="font-family:Microsoft YaHei" target="blank">关于我们</a></p></center>
 
     </body>
 </html>

