---
layout: default-post
---
<div class = "wrap">
  <div class="post type-post status-publish format-standard hentry category-1 post" >
    <div class="posttop">
      <h1 class="posttitle">
        {{ page.title }}
      </h1>
    </div>
    <div class="postmetatop">
      Posted 
      <time class="text" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d " }}</time>&nbsp; |&nbsp;
       <span class="ds-thread-count" data-thread-key="{{ page.UUID }}" data-replace="1">暂无评论</span></a></span> &nbsp;|&nbsp;
      {% if page.author != null %}
      By {{ page.author }} &nbsp;
      {% else %}
      By GaoLei
      {% endif %}
      {% if page.tags%}
      <div class="tag">
        {% for tag in page.tags%}
        <a href="{{ site.baseurl }}/tags/#{{tag}}" class="text" title="{{ tag }}" rel="category tag">{{ tag}}</a>&nbsp;
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <div class="postcontent-entry">
      <div class="cleared"><font size = 1.5>
      {{ content }}</font>
	  </div> 


    </div><!-- /postcontent -->

    <div class="v-pagination">
      {% if page.previous.url %}
      {% if page.previous.short_title %}
      <a class="prev" href="{{ site.baseurl }}{{page.previous.url}}" title="前一篇：{{page.previous.short_title}}">&laquo; {{page.previous.short_title}}</a>
      {% else %}
      <a class="prev" href="{{ site.baseurl }}{{page.previous.url}}" title="前一篇：{{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% endif %}
      {% if page.next.url %}
      {% if page.next.short_title %}
      <a class="next" href="{{ site.baseurl }}{{page.next.url}}" title="后一篇：{{page.next.short_title}}">{{page.next.short_title}} &raquo;</a>
      {% else %} 
      <a class="next" href="{{ site.baseurl }}{{page.next.url}}" title="后一篇：{{page.next.title}}">{{page.next.title}} &raquo;</a>
      {% endif %}
      {% endif %}
    </div>
    
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style" style="margin: 10px 10px 20px 0;padding: 10px 0 0;">
      <span class="jiathis_txt">分享到：</span>
      <a class="jiathis_button_qzone">QQ空间</a>
      <a class="jiathis_button_tsina">新浪微博</a>
      <a class="jiathis_button_tqq">腾讯微博</a>
      <a class="jiathis_button_renren">人人网</a>
      <a class="jiathis_button_googleplus">Google+</a>
      <a href="http://www.jiathis.com/share?uid=1706288" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
      <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript">
      var jiathis_config = {data_track_clickback:true};
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1343704647947962" charset="utf-8"></script>
    <!-- JiaThis Button END -->
 </div><!-- /post -->
  <div class="cleared"></div>
 


  <div class="archivesbox">
    <div class="comments">
      <!-- Duoshuo Comment Begin -->
      <div class="ds-thread" data-thread-id="{{page.UUID}}" data-url="{{site.url}}{{page.url}}" data-thread-key="{{page.UUID}}" data-title="{{page.title}}"
        data-order="desc" data-form-positon="top"></div>
      <!-- Duoshuo Comment End -->
    </div>
  </div>
</div><!-- /content -->



